<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goldfinance.jinGC.mapperOra.MFNetValueMapper">

	<select id="findMFNetValue"  resultType="MFNetValue">
		SELECT InnerCode,InfoSource FROM jydb.MF_NetValue where InnerCode=1004
	</select>
	
</mapper>