<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goldfinance.jinGC.mapper.AllFundProductMapper">

	<select id="findLatestFundProductList" resultType="AllFundProduct" >
		SELECT ofund_type,fund_status,fund_name,ta_no,fund_code,rowcount,total_count,success_type,error_code,error_info,flag, quanpinyin, initialpinyin, createdatetime FROM allfundproduct WHERE flag=1
	</select>
	
	<update id="deleteOldFundProductList">
		update allfundproduct set flag=2 where flag=1
	</update>

	<insert id="insertLatestFundProductList" useGeneratedKeys="true" parameterType="java.util.List">  
	    <selectKey resultType="int" keyProperty="id" order="AFTER">  
	        SELECT  
	        LAST_INSERT_ID()  
	    </selectKey>  
	    insert into allfundproduct (ofund_type,fund_status,fund_name,ta_no,fund_code,rowcount,total_count,success_type,error_code,error_info,flag,createdatetime, quanpinyin, initialpinyin)   
	    values  
	    <foreach collection="list" item="item" index="index" separator="," >  
	        (#{item.ofund_type},#{item.fund_status},#{item.fund_name},#{item.ta_no},#{item.fund_code},#{item.rowcount},#{item.total_count},#{item.success_type},#{item.error_code},#{item.error_info},#{item.flag},#{item.createdatetime},#{item.quanpinyin},#{item.initialpinyin})  
	    </foreach>  
</insert> 

	<select id="queryFundProductByCondition" parameterType="fundQuery" resultType="string">
		select fund_code from allfundproduct 
				<where>
								<if test="fundType!=null  and  fundType!=''" >
									and	ofund_type=#{fundType}
								</if>
								<if test="keyWord!=null  and keyWord!=''">
									and	( fund_code  LIKE '%${keyWord}%' or fund_name  LIKE '%${keyWord}%' 
									or  quanpinyin  LIKE '%${keyWord}%' or  initialpinyin  LIKE '%${keyWord}%' )
								</if>
									and flag=1 limit ${(pageNumber-1)*pageSize}, ${pageSize}
				</where>
	</select>
	
	<select id="findFundByfundCode" resultType="AllFundProduct" parameterType="string">
		SELECT ofund_type,fund_status,fund_name,ta_no,fund_code,rowcount,total_count,success_type,error_code,error_info,flag, quanpinyin, initialpinyin, createdatetime FROM allfundproduct WHERE flag=1 and fund_code=#{secuCode}
	</select>

</mapper>