<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goldfinance.jinGC.mapper.BankMapper">

	<select id="findBankList" resultType="bank">
		SELECT * FROM BANK WHERE flag=1
	</select>
	
	<select id="findBankByBankCode" parameterType="string" resultType="bank">
		SELECT * FROM BANK WHERE bankCode=#{bankCode}
	</select>
	
</mapper>