<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goldfinance.jinGC.mapper.FundBuyMapper">

	<insert id="insertFundBuy" parameterType="fundBuy">
		INSERT INTO FundBuy (fundid, userid, fundshares, issuccess,fundname,applytime) VALUES (#{fundid},#{userid},#{fundshares},#{issuccess},#{fundname},#{applytime})
	</insert>
	<select id="selectFundBuy" parameterType="fundBuy" resultType="fundBuy">
		select fundid, userid, fundname,sum(fundshares) fundshares from FundBuy 

		<where>
			<if test="fundid != null">
				fundid = #{fundid}
			</if>
			<if test="fundname != null">
				fundname = #{fundname}
			</if>
			<if test="userid != null">
				and userid = #{userid}
			</if>
			<if test="issuccess != null">
				and issuccess = #{issuccess}
			</if>
		</where>
	</select>
	
</mapper>